<!--头部css-->
{{assets_css "/static/admin/plugins/bootstrap/css/bootstrap.min.css"}}
{{assets_css "/static/admin/plugins/bootstrap-switch/css/bootstrap-switch.min.css"}}
{{assets_css "/static/admin/plugins/font-awesome/css/font-awesome.min.css"}}
{{assets_css "/static/admin/plugins/iconpicker/css/iconpicker.min.css"}}
{{assets_css "/static/admin/plugins/select2/css/select2.min.css"}}
{{assets_css "/static/admin/plugins/fileinput/css/fileinput.min.css"}}
{{assets_css "/static/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css"}}

{{assets_css "/static/admin/css/AdminLTE.min.css"}}
{{assets_css "/static/admin/css/admin.css"}}
{{assets_css "/static/admin/css/_all-skins.min.css"}}
{{assets_css "/static/admin/css/skins.css"}}
{{assets_css "/static/admin/plugins/viewer/viewer.min.css"}}
{{assets_css "/static/admin/plugins/nprogress/nprogress.css"}}
<!--[if lt IE 9]>
{{assets_js "/static/admin/js/html5shiv.min.js"}}
{{assets_js "/static/admin/js/respond.min.js"}}
<![endif]-->